/* css переменные */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --hero-title: #ffffff;

  --accent-color: #2196f3;

  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

/* сброс маркеров списка */
.list {
  list-style: none;
}

/* сброс декораций cсылок */
a {
  text-decoration: none;
}

.current {
  color: var(--accent-color);
}

.primarycolor {
  color: var(--primary-text-color);
}

.sitecolor {
  color: var(--text-color);
}

/* header */
.page-header a:hover,
.page-header a:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--second-bg-color);
}

.hero-title {
  color: var(--hero-title);
}

.hero-button {
  color: #ffffff;
}

/* footer */
.footer {
  background-color: var(--second-bg-color);
}

.footer-address>li {
  color: #ffffff;
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-right-logo {
  color: #ffffff;
}

/* portfolio styles */
.portfolio button:hover,
.portfolio button:focus {
  background-color: var(--accent-color);
} 

